<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bruno Oliveira</title>
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="/js/index.js"></script>
</head>
<body>
    <div class="main-container">
        <header class="main-item header-container">
            <img src="/img/perfilnovo.jpg" alt="Developer photo" id="perfil-image">
            <div class="header-item header-desc">
                <h1 class="header-item">Bruno Oliveira</h1>
                <h2>Desenvolvedor de software</h2>
            </div>
        </header>
    
        <main class="main-item">
            <div id="information">
                <div class="card">
                    <div class="card-header">
                        <img src="img/test-noun-book-1278122.png" alt="" class="card-image">
                        <h3 class="card-tittle">Experiência acadêmica</h3>
                    </div>

                    <div class="card-description">
                        <ul class="card-description-level-one">
                            <li>
                                <span>ETEC Pedro Badran</span>
                                <ul class="card-description-level-two">
                                    <li>Técnico em Informática</li>
                                    <li>2015 - 2016</li>
                                </ul>
                            </li>
                            <li>
                                <span>Fatec Franca - Faculdade de Tecnologia "Dr. Thomaz Novelino"</span>
                                <ul class="card-description-level-two">
                                    <li>Tecnologia em Análise e Desenvolvimento de Sistemas</li>
                                    <li>2017 - 2019</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <img src="img/test-noun-work-3497807.png" alt="" class="card-image">
                        <h3 class="card-tittle">Experiência profissional</h3>                        
                    </div>

                    <div class="card-description">
                        <ul class="card-description-level-one">
                            <li>
                                <span>ACEDATA Software</span>
                                <ul class="card-description-level-two">
                                    <li>Desenvolvimento de softwares web e desktop com Genexus</li>
                                    <li>Integrações, NF-e, sistemas de faturamento e logística</li>
                                    <li>Estágio: 2019</li>
                                    <li>Tempo integral: 2020 - hoje</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>                

                <div class="card">
                    <div class="card-header">                        
                        <img src="img/test-noun-translation-16718.png" alt="" class="card-image">
                        <h3 class="card-tittle">Línguas estrangeiras</h3>                          
                    </div>

                    <div class="card-description">
                        <ul class="card-description-level-one">
                            <li>
                                <span>Inglês</span>
                                <ul class="card-description-level-two">
                                    <li>Leitura</li>
                                </ul>                                
                            </li>
                        </ul>                         
                    </div>
                </div>  
            </div>

            <!-- <div id="projects">
            </div>             -->
        </main>
    
        <!-- <footer class="main-item">
            <span>Copyright &copy 2022 - Bruno de Oliveira e Oliveira</span>
        </footer> -->

    </div>
</body>
</html>