<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bruno Oliveira</title>
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <div class="main-container">
        <header class="main-item header-container">
            <img src="/img/perfilnovo.jpg" alt="Developer photo" id="perfil-image">
            <div class="header-item header-desc">
                <h1 class="header-item">Bruno Oliveira</h1>
                <h2>Desenvolvedor de software</h2>
            </div>
        </header>
    
        <main class="main-item">
            <div id="information">
                <div class="card">
                    <div class="card-header">
                        <img src="/img/test-noun-book-1278122.png" alt="icon" class="card-image">
                        <h3 class="card-tittle">Experiência acadêmica</h3>
                    </div>

                    <div class="card-description">
                        <ul class="card-description-level-one">
                            <li>
                                <span>
                                    <a href="http://www.etecpedrobadran.com.br/" target="_blank" class="link">
                                        ETEC Pedro Badran
                                    </a>
                                </span>                             
                                <ul class="card-description-level-two">
                                    <li>Técnico em Informática</li>
                                    <li>2015 - 2016</li>
                                </ul>
                            </li>
                            <li>
                                <span>
                                    <a href="https://site.fatecfranca.edu.br/" target="_blank" class="link">
                                        Fatec Franca - Faculdade de Tecnologia "Dr. Thomaz Novelino"
                                    </a>
                                </span>
                                <ul class="card-description-level-two">
                                    <li>Tecnologia em Análise e Desenvolvimento de Sistemas</li>
                                    <li>2017 - 2019</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <img src="/img/test-noun-work-3497807.png" alt="icon" class="card-image">
                        <h3 class="card-tittle">Experiência profissional</h3>                        
                    </div>

                    <div class="card-description">
                        <ul class="card-description-level-one">
                            <li>
                                <span>
                                    <a href="https://acedata.com.br/" target="_blank" class="link">
                                        ACEDATA Software
                                    </a>
                                </span>
                                <ul class="card-description-level-two">
                                    <li>
                                        Desenvolvimento de softwares web e desktop com 
                                        <a href="https://www.genexus.com/pt/" target="_blank" class="link">
                                            Genexus
                                        </a>
                                    </li>
                                    <li>Integrações, NF-e, sistemas de faturamento e logística</li>
                                    <li>Estágio: 2019</li>
                                    <li>Tempo integral: 2020 - hoje</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>                

                <div class="card">
                    <div class="card-header">                        
                        <img src="/img/test-noun-translation-16718.png" alt="icon" class="card-image">
                        <h3 class="card-tittle">Línguas estrangeiras</h3>                          
                    </div>

                    <div class="card-description">
                        <ul class="card-description-level-one">
                            <li>
                                <span>Inglês</span>
                                <ul class="card-description-level-two">
                                    <li>Leitura</li>
                                </ul>                                
                            </li>
                        </ul>                         
                    </div>
                </div>  
            </div>

            <div id="projects">
                <div id="projects-header">
                    Projetos
                </div>

                <div id="slideshow">
                    <div class="project">
                        <img src="/img/project-portfolio.png" alt="portfolio image" class="project-image">
                        <div class="project-header">
                            <ul class="project-technologies">
                                <li>HTML</li>
                                <li>CSS</li>
                                <li>Javascript</li>
                                <li>Node JS</li>
                            </ul>                             
                            <span>Portifólio</span>
                            <p class="project-description">Repositório de projetos</p>            
                            <div class="project-links">
                                <a class="project-link" href="https://github.com/Bruno-Oliveira-e-Oliveira/Portfolio" target="_blank">
                                    <img src="/img/GitHub-Mark-Light-120px-plus.png" alt="Github icon" class="project-link-icon">
                                    Repositório
                                </a>
                            </div>                                       
                        </div>
                    </div>
                    
                    <div class="project">
                        <img src="/img/project-portfolio.png" alt="Epub reader image" class="project-image">
                        <div class="project-header">
                            <ul class="project-technologies">
                                <li>HTML</li>
                                <li>CSS</li>
                                <li>Javascript</li>
                                <li>Node JS</li>
                            </ul>                               
                            <span>Epub reader</span>
                            <p class="project-description">Leitor de arquivos epubs (ebook)</p>
                            <div class="project-links">
                                <a class="project-link" href="https://github.com/Bruno-Oliveira-e-Oliveira/epub-reader" target="_blank">
                                    <img src="/img/GitHub-Mark-Light-120px-plus.png" alt="Github icon" class="project-link-icon">
                                    Repositório
                                </a>
                                <a class="project-link" href="">Acesso</a>
                            </div>                       
                        </div>
                    </div>
                </div>

                <div class="slide-controls">
                    <div class="slide-arrows">
                        <button onclick="setProject(-1, '+')">
                            <div class="slide-arrow">&larr;</div>
                        </button>
                        <button onclick="setProject(1,  '+')">
                            <div class="slide-arrow">&rarr;</div>
                        </button>
                    </div>

                    <!-- <div id="slide-items">
                        <button onclick="setProject(1, '=')">1</button>
                        <button onclick="setProject(2, '=')">2</button>
                    </div> -->
                </div>

            </div>            
        </main>
    
        <!-- <footer class="main-item">
            <span>Copyright &copy 2022 - Bruno de Oliveira e Oliveira</span>
        </footer> -->

    </div>

    <script src="/js/slideshow.js"></script>
</body>
</html>