<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bruno Oliveira</title>
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="/js/index.js"></script>
</head>
<body>
    <div class="main-container">
        <header class="main-item header-container">
            <h1 class="header-item">Bruno Oliveira</h1>
            <div class="header-item" id="menu-check-container">
                <label for="menu-check">
                    <img src="/img/menu-icon.png" alt="menu icon" id="menu-img">
                </label>
                <input type="checkbox" id="menu-check" onclick="show_menu()">                
            </div>
            <nav id="menu">
                <ul>
                    <li><a href="#projects" onclick="remove_menu()">Projetos</a></li><li><a href="#about" onclick="remove_menu()">Sobre</a></li> 
                </ul>
            </nav>
        </header>
    
        <main class="main-item">
            <div id="projects">
                <div class="project">
                    <img src="/img/project-image-portfolio.png" alt="project image" class="project-image">
                    <div class="project-info">
                        <h2 class="project-title">Portifólio</h2>
                        <p class="project-description">Site criado com o objetivo de apresentar os projetos que eu desenvolvi.</p>
                        <p class="project-technologies"><strong>Tecnologias:</strong> HTML, CSS, Javascript, Node JS</p>
                        <div class="project-repository">
                            <a href="https://github.com/Bruno-Oliveira-e-Oliveira/Portfolio" class="project-repository-link" target="_blank">
                                Repositório
                            </a>
                        </div>
                    </div>
                </div>         

                <div class="project">
                    <img src="/img/project-image-model.png" alt="project image" class="project-image">
                    <div class="project-info">
                        <h2 class="project-title">Em breve</h2>
                        <p class="project-description">Projeto em planejamento.</p>
                        <p class="project-technologies"><strong>Tecnologias:</strong></p>
                        <div class="project-repository">
                            <div class="project-repository-link link-disable">
                                Repositório
                            </div>
                        </div>
                    </div>
                </div>      
                  
            </div>
    
            <div id="about">
                <img src="/img/perfil.jpg" alt="Developer photo" id="about-image">
                <div id="about-description">
                    <p>Seja bem-vindo(a) ao meu portifólio de projetos, sou Bruno de Oliveira e Oliveira, tenho 22 anos, sou formado como Tecnólogo em Análise e desenvolvimento de sistemas na <a href="https://site.fatecfranca.edu.br/" target="_blank" class="link">Fatec Franca Dr. Thomaz Novelino</a> no ano de 2019.</p>
                    <br>
                    <p>Trabalho com desenvolvimento de software há quase 4 anos, tendo trabalhado no primeiro ano como estagiário. Tenho experiência utilizando <a href="https://www.genexus.com/pt/" target="_blank" class="link">Genexus</a> para desenvolver aplicações web e desktop e já trabalhei em projetos envolvendo assuntos como notas fiscais eletrônicas e sistemas de faturamento. </p>
                    <br>
                    <p>Sobre meu conhecimento de línguas estrangeiras, consigo ler livros em inglês com certa facilidade, entretanto não tenho experiência com a habilidade de fala.</p>
                </div>
                <div id="about-social-media">
                    <a href="https://github.com/Bruno-Oliveira-e-Oliveira" class="about-social-media-link" target="_blank">
                        <img src="/img/GitHub-Mark-Light-120px-plus.png" alt="Github mark">
                    </a> 

                    <a href="https://www.linkedin.com/in/bruno-de-oliveira-e-oliveira/" class="about-social-media-link" target="_blank">
                        <img src="/img/LI-In-Bug.png" alt="Linkedin mark">
                    </a>                     
                </div>
            </div>
        </main>
    
        <footer class="main-item">
            <span>Copyright &copy 2022 - Bruno de Oliveira e Oliveira</span>
        </footer>
    </div>
</body>
</html>