html, body {
    height: 100%;
    overflow-x: hidden;
    background-color: #7743DB;
    font-family: Switzer, sans-serif;
}

html, body, h1, h2, ul, li, p {
    margin: 0;
    padding: 0;   
}

.main-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.main-item {
    width: 100%;
}

/* HEADER */

.header-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 50px 0 25px 0;
    align-items: center;
    box-sizing: border-box;    
    row-gap: 20px;
}

.header-desc {
    text-align: center;
}

#perfil-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

h1 {
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    color: #FFE9B1;
}

h2 {
    font-size: 20px;
    color: #FFE9B1;
}

/* MAIN */

#information {
    /* background-color: #FFE9B1; */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    box-sizing: border-box;   
    row-gap: 50px;
    padding: 25px 0 50px 0; 
}

.card {
    /* background-color: #FFE9B1; */
    /* color: #FFE9B1; */
    width: 90%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    box-sizing: border-box;  
}

.card-header {
    /* background-color: aqua; */
    height: 80px;
    width: 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom: 1px #2e00ff solid ;
    padding: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    box-sizing: border-box;
}

.card-image {
    height: 50px;
    width: 50px;
}

.card-tittle {
    margin-left: 10px;
    font-size: 20px;
}

.card-description {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    font-size: 15px;
}

.card-description-level-one {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    box-sizing: border-box;
    row-gap: 20px;
    margin-left: 15px;
}

.card-description-level-one span {
    font-weight: bold;
}

.card-description-level-two {
    margin-top: 5px;
    margin-left: 15px;
}











/*  FOOTER */

footer {
    background-color: #2e00ff;
    text-align: center;
    font-size: 13px;
    color: #f1f5f8;
    padding-top: 50px;
    padding-bottom: 5px;
}


/* PC */

@media screen and (min-width: 1200px){

    /* HEADER */

    .header-container {
        padding: 10px 10px;
        height: 70px;
    }    

    #perfil-image {
        width: 250px;
        height: 250px;
    }

    h1 {
        font-size: 27px;
    }    

    /* MAIN */


    
}