html, body {
    overflow-x: hidden;
}

html, body, h1, h2, ul, li, p {
    margin: 0;
    padding: 0;   
}

.main-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    /* row-gap: 10px; */
}

.main-item {
    width: 100%;
}

/* HEADER */

.header-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 10px 5px;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    box-sizing: border-box;    
    background-color: #6932d4;
}

h1 {
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
}

#menu-check {
    display: none;
}

#menu-img {
    display: block;
    width: 32px;
    height: 32px;
    background-image: url('/img/menu-icon.png');
    background-repeat: no-repeat;
    background-position: center;
}

#menu {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #6932d4;
}

#menu li {
    display: block;
    border-top: 1px solid #FFF;
    width: 100%;
    box-sizing: border-box;
}

#menu li:last-child {
    border-bottom: 1px solid #FFF;
}

#menu li a {
    display: block;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    box-sizing: border-box;
    color: #000;
}

#menu li a:hover {
    background-color: red;
}

/* MAIN */

main {
    background-color: #FFF;
}

#projects {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    row-gap: 20px;
    padding: 20px 0;
    align-items: center;
}

.project {
    box-sizing: border-box;
    width: 90%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.project-image {
    width: 100%;
}

.project-info {
    padding: 10px 10px;
    text-align: justify;
}

.project-title {
    font-size: 18px;
    margin-bottom: 5px;
}

.project-description {
    margin-bottom: 5px;
}

#about {
    background-color: #6932d4;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
}

#about-image {
    margin-top: 20px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

#about-description {
    text-align: justify;
    width: 90%;
}

#about-social-media-github img {
    width: 64px;
    height: 64px;
}


/*  FOOTER */

footer {
    background-color: #6932d4;
    text-align: center;
    font-size: 13px;
    margin-top: 20px;
}